body{
    background-color: green;
}
.button-container button {
  width: 100px;
  height: 80px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  position: relative;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.tittle{
  text-align: center;
  color: white;
  visibility: visible;

}

h2{
  text-align: center;
  color: white;
  visibility: visible;

}



.teeth{
  visibility: hidden;
}

.button-container {
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./images/croc.jpg);
  background-color: red ;
  width: 600px;
  height: 550px;
  margin-top: 100px;
  
}

img{
  width: 600px;
  height: 550px;
  object-fit: cover;

}
  

.button-container button {
  flex: 1;
}

.button-container button:nth-child(1) {
  order: 1;

}

.button-container button:nth-child(2) {
  order: 2;
  transform: translateY(30px);
  
}

.button-container button:nth-child(3) {
  order: 3;
  transform: translateY(70px);

}

.button-container button:nth-child(4) {
  order: 4;
  transform: translateY(90px);

}

.button-container button:nth-child(5) {
  order: 5;
  transform: translateY(110px);

}

.button-container button:nth-child(6) {
  order: 6;
  transform: translateY(110px);

}

.button-container button:nth-child(7) {
  order: 7;
  transform: translateY(90px);

}

.button-container button:nth-child(8) {
  order: 8;
  transform: translateY(70px);

}

.button-container button:nth-child(9) {
  order: 8;
  transform: translateY(30px);

}

.button-container button:nth-child(10) {
  order: 8;

}
.button-container button {
  margin: 10px;
}
